 @{
  Layout = "_Layout";
}
@using RecipeBox.Models;
@model RecipeBox.Models.Recipe

<h4>Create a new recipe</h4>

 
@using (Html.BeginForm())
{
   @Html.TextBoxFor(model => model.Name, new { placeholder ="Name", style ="text-align: center;"})<br><br>
   @Html.TextAreaFor(model => model.Ingredients, new { placeholder ="Ingredients", style ="text-align: center;"})<br><br>
   @Html.TextAreaFor(model => model.Instructions, new { placeholder ="Instructions", style ="text-align: center;"})  
  

    <br><br>
  <input type="submit" value="Add recipe" class="btn btn-primary" />
} <br>
  <p>@Html.ActionLink("Show all recipes!", "Index")</p> 

 
