<div id="footer" class="row">
  <div class="col-4" style="text-align: center;">
  <p>@Html.ActionLink("Home!", "Index", "Home", new {})</p>
  </div>
  <div class="col-4" style="text-align: center;">
  <p>@Html.ActionLink("Recipes!", "Index", "Recipes")</p>  
  </div>
  <div class="col-4" style="text-align: center;">
  @Html.ActionLink("Tags!", "Index", "Tags") 
  </div>
</div>